<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ produto.nome }}</title>
</head>
<body>
    <h1>{{ produto.nome }}</h1>
    <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
    <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
    <p><strong>Categoria:</strong> {{ produto.categoria.nome }}</p>
    <p><strong>Disponibilidade:</strong> {{ produto.disponibilidade }}</p>
    <p><strong>Data de Adição:</strong> {{ produto.data_adicao }}</p>
    <img src="{{ produto.imagemprincipal.url }}" alt="{{ produto.nome }}">
</body>
</html>